.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    height: 40%;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    border-radius: 5px 5px 0 0;
    max-height:25%;
}

.card .container {
    padding: 2px 16px;
}
@media (min-width: 1200px){

    .card .container {
        width: auto;
    }
}


#command{
    margin-top: 50px;
}
#command .row .col-md-4 {
    margin-top: 1cm;
    margin-bottom: 1cm;

}
.circle {
    border-radius: 50%;
    width: 30px;
    height:  30px;
    background: #c82010;/* width and height can be anything, as long as they're equal */
}
