/*
==============================
ADVANCED IMAGE BOX
==============================
*/

.adv-img {
    position: relative;
    display: block;
    background: none;
}

div.adv-img p, .caption-bottom p, a.adv-circle .caption p {
    color: #F5F5F5;
    font-weight: 400;
    height: initial;
}

div.caption-bottom p {
    color: #929292;
}

.adv-img:before {
    display: none !important;
}

.img-box.adv-img img {
    opacity: 1 !important;
}

.adv-img a:focus {
    outline: none;
}

.adv-img .img-box {
    display: block;
    width: 100%;
}

.adv-img .caption {
    position: absolute;
    z-index: 9;
    overflow: hidden;
    color: #FFF;
    cursor: pointer;
    transform: translate3d(0,0,0);
}

.adv-img > i, .adv-img span > i {
    margin: 15px;
    z-index: 10;
}

.adv-img .sub i {
    opacity: 1 !important;
    position: static !important;
    font-size: 14px !important;
    margin: 0 5px 0 0 !important;
    color: white;
}

.adv-img h2, .adv-circle h2, .caption-bottom h2 {
    margin: 0;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
}

.caption-bottom {
    text-align: center;
    line-height: 28px;
    padding: 15px;
}

.adv-img-down-text .caption-bottom p {
    margin-bottom: 5px;
}

.adv-img-down-text .img-box:before {
    background: rgba(255, 255, 255, 0.00);
}

.adv-img .white.circle-button:hover, .adv-img .white .circle-button:hover {
    background-color: rgba(19, 19, 19, 0.49);
}

.adv-img-down-text.boxed-inverse, .adv-img-down-text.boxed {
    padding: 0 !important;
}

/*
==============================
HALF CONTENT & SIDE CONTENT & FULL CONTENT
==============================
*/

.img-box.adv-img-half-content .caption, .img-box.adv-img-side-content .caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px 15px;
    background-color: rgba(4, 4, 4, 0.7);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%,rgba(0, 0, 0, 0) 100%);
    transform: translate3d(0,0,0);
}
.adv-img-side-content .caption {
    top: 0;
    height: 100%;
    width: 70%;
    text-align: left;
    font-size: 11px;
}

.adv-img-half-content {
    height: auto !important;
}

.adv-img-half-content i.main-icon, .adv-img-side-content i.main-icon {
    color: #585858;
}

.adv-img-half-content .caption.caption-top {
    top: 0;
    bottom: auto;
}

.adv-img-side-content .caption.caption-right {
    right: 0;
    left: auto;
}

.adv-img-half-content p, .adv-img-side-content p {
    margin: 15px 0 0 0;
}

.adv-img-full-content .caption {
    text-align: center;
    margin: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    height: 100%;
    padding: 15%;
    background: none !important;
}

.adv-img-full-content .caption-bg {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.adv-img .img-box img {
    width: 100%;
}

.adv-img-full-content h2 {
    margin: 15px 0;
}

.adv-img-full-content p.sub {
    margin-top: 10px;
    text-transform: uppercase;
}

.adv-img-full-content i.main-icon {
    margin: 0 0 15px 0;
    width: 100%;
    text-align: center;
    position: static !important;
    color: white;
    font-size: 50px;
}

/*
==============================
BUTTONS CONTENT
==============================
*/

.adv-img-button-content h2 {
    margin-bottom: 15px;
}

.adv-img-button-content .caption i {
    position: static !important;
    background-color: rgb(255, 255, 255);
    color: #3C3C3C;
    margin: 10px;
}

.adv-img-button-content .caption i:hover {
    opacity: .8 !important;
}

.adv-img-button-content > .img-box:before {
    opacity: 0;
    transition-delay: 0s;
    transition: opacity .3s;
}

.adv-img-button-content.show > .img-box:before, .adv-img-button-content:hover > .img-box:before {
    opacity: 0.6 !important;
    z-index: 9;
}


/*
==============================
DOWN TEXT
==============================
*/

.adv-img-down-text .caption:hover {
    opacity: 1;
}

.adv-img-down-text .caption {
    opacity: 0;
    height: 100%;
    text-align: center;
    top: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity .5s;
}

.adv-img-down-text h2 a {
    color: #3E3E3E;
    padding-bottom: 10px;
    display: inline-block;
}

/*
==============================
CLASSIC BOX
==============================
*/
.adv-img-classic-box .caption {
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%,rgba(0, 0, 0, 0) 100%) !important;
    transform: translate3d(0,0,0);
}

.adv-img-classic-box .caption-inner {
    bottom: 0;
    position: absolute;
    padding: 20px 15px;
    text-align: left;
    overflow: hidden;
    max-height: 85px;
    transition: max-height .8s;
    max-width: 100%;
}

.adv-img-classic-box .caption-inner h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}

.adv-img-classic-box:hover .caption-inner {
    max-height: 500px;
}

.adv-img-classic-box .caption-inner p.sub-text {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    color: #E8E8E8;
}

.adv-img-classic-box .caption-inner p.big-text {
    height: 53px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.adv-img-classic-box .caption a {
    margin-bottom: 5px;
    margin-top: 10px;
}

.adv-img-classic-box a.img-box:before, .adv-img-full-content a.img-box:before {
    display: none;
}

.adv-img-classic-box .img-box {
    height: 100%;
}
/*
==============================
CIRCLE ADVANCED IMAGE BOX
==============================
*/

.adv-circle-center.show,
.adv-circle-center-2.show {
    transition: none;
}

.img-box.adv-circle.show img {
    opacity: 0.5;
}

.circle.show i, .circle.show .caption, .img-box.adv-circle.show:before {
    opacity: 1 !important;
}

.img-box.adv-circle-center.show:hover img, .img-box.adv-circle-center-2.show:hover img {
    opacity: 0.3 !important;
}

.adv-circle .caption p {
    margin: 10px 0 0;
}

.adv-circle .caption {
    position: absolute;
    z-index: 9;
    overflow: hidden;
    color: #FFF;
    background: none;
    transform: translate3d(0,0,0);
}

.adv-circle i {
    margin: 15px;
    z-index: 10;
}

.adv-circle .sub i {
    opacity: 1 !important;
    position: static !important;
    font-size: 14px !important;
    margin: 0 5px 0 0 !important;
}

.adv-circle h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    color: #FFFFFF;
}

.adv-circle.adv-circle-center-2 .caption, .adv-img-button-content .caption {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    height: 100%;
    width: 100%;
    padding: 15%;
    background: none;
}

.adv-circle.adv-circle-center-2 .caption .inner, .adv-img-full-content .caption .inner, .adv-img-button-content .caption .inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: 100%;
}

/*
==============================
EASY
==============================
*/
.adv-circle.adv-circle-center i {
    left: 0;
    right: 0;
    top: 25%;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
}

.adv-circle.adv-circle-center i.circle, .adv-circle.adv-circle-center i.square {
    left: 50%;
    right: auto;
    margin-left: -45px;
    top: 10px;
}

.adv-circle.adv-circle-center .caption {
    top: 50%;
    padding: 0 7%;
    width: 100%;
    color: #585858;
    margin-top: -10px;
}


/*
==============================
HALF
==============================
*/
.adv-circle.adv-circle-half i, .adv-circle.adv-circle-bottom i {
    left: 0;
    right: 0;
    top: 50%;
    font-size: 35px;
    margin: -18.5px 0 0 0;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.adv-circle.img-box.i-center i::before {
    margin-left: 0;
}

.adv-circle-half:before, .adv-circle-bottom:before, .adv-circle-bg:before {
    display: none !important;
}

.img-box.adv-circle.adv-circle-half img, .img-box.adv-circle.adv-circle-bottom img, .img-box.adv-circle.adv-circle-bg img {
    opacity: 1 !important;
}

.img-box.adv-circle.adv-circle-half.show:hover img, .img-box.adv-circle-bottom.show:hover img, .img-box.adv-circle-bg.show:hover img {
    transform: scale(1.2);
}

.adv-circle.adv-circle-half .caption, .adv-circle.adv-circle-bottom .caption {
    top: 50%;
    padding: 10% 20%;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 1000px 1000px;
}

.adv-circle.adv-circle-half .caption p {
    margin: 10px 0 0;
}

.adv-circle.adv-circle-bottom .caption {
    background-color: transparent;
    padding: 20%;
}

.adv-circle.adv-circle-bottom .caption:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    z-index: -1;
}

.adv-circle.adv-circle-bottom .caption h2 {
    padding-top: 5%;
}

.adv-circle.adv-circle-bottom .caption p {
    margin-bottom: 2px;
}

/*
==============================
BORDER
==============================
*/
.adv-circle.adv-circle-bg i {
    left: 50%;
    top: 18%;
    font-size: 35px;
    margin-left: -18.5px;
}

.adv-circle.adv-circle-bg .caption {
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 40% 15%;
}

/*
==============================
SIDE
==============================
*/
.adv-circle.adv-circle-center-2 i {
    display: none;
}

.adv-circle.adv-circle-center-2 .sub i {
    display: inline-block;
}

.adv-circle.adv-circle-center-2 .caption p {
    text-align: right;
    margin-top: 5%;
    border-right: 3px solid #F7F7F7;
    padding-right: 10px;
}

.adv-circle.adv-circle-center-2 .caption h2 {
    text-align: right;
}