/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1142;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1143;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-container.active .mfp-bottom-bar, .mfp-container.active .mfp-counter {
    opacity: 1;
    transition: all .3s;
    transition-delay: .5s;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

@-moz-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.mfp-preloader:before {
    content: "\f110";
    text-indent: each-line;
}

.mfp-preloader {
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -0.8em;
    left: 50%;
    margin-left: -15px;
    z-index: 1044;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: fixed;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #FFF;
    opacity: 0;
}

.mfp-counter {
    position: fixed;
    bottom: 2px;
    text-align: center;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.23) 100%);
    padding: 8px 15px;
    right: 0;
    color: #B3B3B3;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    opacity: 0;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    font-family: FontAwesome;
    color: white;
    font-size: 40px;
    margin-left: 35px;
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    content: '\f104';
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:before {
    content: '\f105';
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: 0px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
    /* transform: scale(1); */
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
       * Remove all paddings around the image on small screen
       */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}


/*
Pixor - Copyright (c) Federico Schiocchet - Pixor (www.pixor.it) - Framework Y (www.framework-y.com)
*/

.mfp-content .content {
    position: relative;
}

.box-lightbox .carousel.nav-thumb {
    margin-top: 0;
    padding-top: 5px;
    background: #000;
}

.box-lightbox iframe {
    display: block;
}

.mfp-wrap.inner .mfp-bottom-bar {
    margin-top: -88px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}

.box-lightbox {
    background-color: #FFF;
    margin: 10px auto;
    border-radius: 2px;
    display: none;
    max-width: 800px;
    max-height: 750px;
    padding: 30px;
    float: none;
}

.box-lightbox > .flexslider:first-child {
    margin-top: 0;
}

.mfp-content .box-lightbox {
    display: block;
}

.box-lightbox.s {
    max-width: 400px;
    max-height: 300px;
}

.box-lightbox.m {
    max-width: 800px;
    max-height: 500px;
}

.box-lightbox.l {
    max-width: 1200px;
}

.box-lightbox.full-screen-size {
    max-width: 100%;
    max-height: 100%;
    margin: 50px;
}
.box-lightbox > div {
    padding:0;
}
.box-inline .mfp-close {
    margin: 0;
}

.mfp-container.active .mfp-close {
    opacity: 1;
    transition: all .3s;
    transition-delay: .5s;
}

/*
==============================
POPUP
==============================
*/

.popup-banner {
    position: fixed;
    width: 250px;
    z-index: 1050;
    display: none;
}

.popup-banner .popup-close {
    margin-top: 2px;
    position: absolute;
    width: 22px;
    right: 0;
    padding-right: 1px;
    height: 22px;
    color: #3E3E3E;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.popup-banner.full-width-top .popup-close, .popup-banner.full-width-bottom .popup-close {
    margin-top: 0;
    margin-right: -6px;
    right: 15px;
}

.popup-banner .popup-close:hover {
    opacity: .7;
}

.popup-banner .bs-panel {
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
}

.popup-banner.popup-bottom-right {
    bottom: 25px;
    right: 25px;
}

.popup-banner.popup-bottom-left {
    bottom: 25px;
    left: 25px;
}

.popup-banner.popup-top-right {
    top: 25px;
    right: 25px;
}

.popup-banner.popup-top-left {
    top: 25px;
    left: 25px;
}

.popup-banner.full-width-top, .popup-banner.full-width-bottom {
    width: 100%;
    padding: 10px 30px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F7F7F7;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.19);
    text-align: center;
}

.popup-banner.full-width-bottom {
    top: auto;
    bottom: 0;
}
.lightbox-on-load:not(.custom-lightbox) .mfp-content {
    cursor:pointer;
}
/*
==============================
MOBILE - PHONE - Extra small devices
==============================
*/
@media (max-width: 992px) {
    .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
        opacity: 1;
        margin: -8px 18px;
        line-height: 70px;
    }

    .mfp-container {
        overflow: visible;
    }

    button.mfp-arrow {
        bottom: 0 !important;
        position: fixed !important;
        top: initial;
        width: 50px;
        left: 0;
        right: initial;
        height: 50px !important;
        padding: 0;
        text-align: left;
        -webkit-transform-origin: 0;
        transform-origin: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: black;
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.23) 100%);
    }

    button.mfp-arrow.mfp-arrow-right {
        margin-left: 50px;
        background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.23) 100%);
    }

    .box-lightbox {
        max-height: 100% !important;
        overflow: hidden;
    }
}